// Colors
$clr-primary: #000000;
$clr-secondary: #f6f9f9;

$clr-purple-400: #df00a9;
$clr-purple-800: #9400ff;
$clr-gray-400: #838a8c;
$clr-gray-800: #545758;

// Fonts
$ff-primary: 'Neue Montreal';
$ff-secondary: "Inter", -apple-system,BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

// Font weights
$fw-normal: normal;
$fw-bold: bold;

// Breakpoints
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

// Viewports
$viewports: (
  sm: 510px,
  md: 700px,
  lg: 920px,
  xl: 1130px
)