@import '../../styles/utils/variables.scss';

.nav {
  $saturation: 180%;
  $blur: 2.5rem;

  // Position
  position: sticky;
  top: 0;
  z-index: 1;

  // Display
  display: flex;
  justify-content: flex-end;
  padding: 1.5em 5em;

  // Background
  background-color: rgba(0, 0, 0, .75);
  backdrop-filter: saturate($saturation) blur($blur);
  box-shadow: $clr-gray-800 0px -1px 0px 0px inset;
  transition: box-shadow .3s;

  &--top {
    box-shadow: none;
    transition: box-shadow .3s;
  }

  &__list {
    position: fixed;
    inset: 0;
    background-color: $clr-primary;
    height: 100vh;
  }

  &__link {
    display: block;
    color: $clr-secondary;
    font: {
      size: 4.8rem;
      weight: $fw-bold;
    }
  }

  &__toggle {
    display: flex;
    flex-direction: column;
    width: 2.5rem;
    position: relative;
    z-index: 1;
    gap: .4rem;
    cursor: pointer;

    &-line {
      display: block;
      width: 100%;
      height: .2rem;
      background-color: $clr-secondary;
    }
  }
}