@font-face {
  font-family: 'Space Grotesk';
  src: url('../fonts/spacegrotesk-medium/spacegrotesk-medium.woff2') format('woff2'),
       url('../fonts/spacegrotesk-medium/spacegrotesk-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('../fonts/spacegrotesk-bold/spacegrotesk-bold.woff2') format('woff2'),
       url('../fonts/spacegrotesk-bold/spacegrotesk-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}